html, * {
    margin: 0;
    padding: 0; 
  font-family: "Edu AU VIC WA NT Hand", cursive;
}
body{
    background: linear-gradient(75deg,
    #eeaeca 0%,
    #94bbe9 100%);
}

.section {
    padding: 20px 0;
}

.section h1 {
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 20px #997182;
}

.music-player { 
    position: relative; 
    padding-top: 20px;
}

.music-player .track-art {
    border-radius: 20px;
    margin: auto;
    background-size: cover;
    width: 100%; 
    height: 0;
    padding-top: 100%; 
    position: relative; 
    overflow: hidden; 
}

.music-player .track-art img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-player .track-content {
    width: 300px;
    margin: auto;
    max-width: 100%;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;
    text-shadow: 1px 1px 20px #997182;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative; 
} 

.heart {
    position: relative;
}

.heart--outline {
    cursor: pointer;
    z-index: 1; 
}

.heart--outline.filled {
    color: #e53935; 
    font-weight: 900;
}

.heart--float {
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    color: #e53935; 
}

.heart--float.up {
    animation: slide-out-top 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-top {
    0% {
    transform: translateY(0);
    opacity: 1;
    }
    100% {
    transform: translateY(-1000px);
    opacity: 0;
    }
}

.music-player .track-content i {
    text-shadow: none;
}

.music-player .track-content .progress-bar,
.music-player .track-content .volume-bar { 
    display: flex; 
    align-items: center;
    width: 100%;
}

.music-player .track-content .volume-bar { 
    width: 50%;
    margin: auto;
}

.music-player .track-content .progress-bar .current-time,
.music-player .track-content .progress-bar .total-duration { 
    width: 52px; /* Adjust this width according to your needs */
    text-align: center;
}

.music-player .track-content .progress-bar .seek_slider,
.music-player .track-content .volume-bar .volume_slider { 
    flex: 1; 
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 64px;
    margin: 0 20px;
    background: #fff;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.music-player .track-content .progress-bar .seek_slider::-webkit-slider-thumb,
.music-player .track-content .volume-bar .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 64px;
    cursor: pointer;
}

.music-player .track-content .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.music-player .track-content .buttons i { 
    cursor: pointer; 
    transition: 0.2s all;
}

.music-player .track-content .buttons i:hover {
    transform: scale(1.1);
}

.music-player .track-content .progress-bar .seek_slider:hover { 
    opacity: 1;
} 

.music-player .track-content .buttons .playpause-track {
    text-align: center;
}

.music-player .layer {
    width: 100%;
    height: 100%;
    background: rgba(221, 221, 221, 0.7);
    filter: blur(20px);
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
}

@media only screen and (max-width: 380px) { 

    .music-player .track-content { 
        width: auto;
        margin: 0 15px;
        padding: 30px;
    } 

    .music-player .track-content .volume-bar {
        width: 70%;
        margin: auto;
    }

}
